.ministry-data{
    width:100%;
}

.single-ministry{
    width:100%;
    margin-bottom: 20px;
}

.single-ministry:nth-child(2n){
    flex-direction: row-reverse;
}

.ministry-left{
    width:50%;
    height:50vh;
}

.ministry-left img{
    width:80%;
    height:40vh;
    object-fit: cover;
}

.ministry-right {
    width: 50%;
}